ul.foodList {
    display: flex;
    justify-content: space-around;
}
li {
    border: 1px solid brown;
    list-style-type: none;
    padding: 0 5px;
}
li > h1 {
    text-align: center;
    font-size: 25px;
}